.light-mode {
  background-color: white;
  color: black;
}

.lmode {
  position: absolute;
  top: 0;
  right: 0;
}

body {
  width: 85%;
  height: 100vh;
  margin: 20px auto;
  background-color: hsl(0,0%,20%);
  color: hsl(120,100%,100%);
  font-family: Arial;
  
}



h1, .subtitle, title, .id {
  margin: 1em auto;
  text-align: center;
}


.ident{
  border: none;
  border-right: 1px solid white;
  border-left: 1px solid white;
  margin: 0 -14px
}



.pinfo {
  display: block;
  width: 100%;
  min-width: 200px;
  margin: 5px 0 20px 0;
}

form {
  width: 60vw;
  max-width: 500px;
  min-width: 300px;
  margin: 0 auto;
  padding-bottom: 2em;
}

label, textarea, p {
  display: block;
  margin: 5px 0 5px 0;
}



textarea {
  width: 98%;
  margin: 20px auto;
  max-width: 500px;
  min-height: 70px
}

input {
  margin: 7px 5px 7px 0;
}

.quest{
  display: block;
  margin: 25px 0 0 0;
}
.id {
  background: white;
  color: black;
  font-size: 19px;
  height: 10px;
  width: 200px;
}

.idimg {
  width: 14%;
  margin: -19px 190px 0 0;
  vertical-align: middle;
}

.pd1{
  margin: -3px auto;
}

.questimg {
  width: 10%;
  margin: -22px 155px 0 0;
  vertical-align: middle;
}

.textimg {
  width: 16%;
  margin: -25px 150px 0 0;
  vertical-align: middle;
}

input[type="file"] {
  background-color: white;
  border: 1px solid white;
  color: black;
  display: block;
  width: 100%;
  min-width: 200px;

}

input[type="submit"]{
  display: block;
  background: linear-gradient(hsl(0,0%,30%)0%, hsl(0,0%,100%)90%,hsl(0,0%,30%));
  width: 35%;
  box-shadow: 0 0 11px 0 white;
  margin: 20px auto;
}

.botao {
  background: linear-gradient(hsl(0,0%,30%)0%, hsl(0,0%,100%)90%,hsl(0,0%,30%));
  box-shadow: 0 0 11px 0 white;
  margin: 20px auto;
  
}

footer {
  padding-bottom: 10px;
}
