@media (prefers-reduced-motion: no-preference) {
            * {
            scroll-behavior: smooth;
            }
        }

:root {
            --cinza: linear-gradient(90deg, rgb(120, 120, 120, 0.2), rgb(120, 120, 120, 0.4), rgb(120, 120, 120, 0.6), rgb(120, 120, 120, 0.8))
        }

body {
    background: var(--cinza);
    margin: 0;
    font-family: Arial, sans-serif;
    transition: background 0.5s;
    padding: 2vw 4vw 2vw 4vw;
}

h1 {
    text-align: center;
    margin: auto;
    padding-bottom: 1vw;
}

h2 {
    margin: 0 auto;
    padding: 20px 10px;
}

button {
    cursor: pointer;
}

body.night-mode {
    background: black;
    color: white;
}

 body.night-mode input {
    background: #333;
    color: white;
    border: 1px solid #555;
}

body.night-mode button {
    background: #333;
    color: white;
    border: 2px solid #555;
}   

body.night-mode .night-mode-button {
    color: white;
}

body.night-mode .reset-button {
    color: white;
}

/* Adjust the size of checkboxes for night mode */
body.night-mode input[type="checkbox"] {
    width: 20px; /* Set the width of the checkbox for night mode */
    height: 20px; /* Set the height of the checkbox for night mode */
}

.reset-button {
    cursor: pointer;
    font-size: 14px;
    color: black;
    margin-left: 10px;
}
.delete-button {
    cursor: pointer;
    color: gray;
}

.task-list {
        list-style-type: none;
        padding: 0;
    }

.night-mode-button {
        cursor: pointer;
        font-size: 14px;
        color: black;
        position: fixed;
        top: 10px;
        right: 10px;
    }
.task-group {
        width: 100%;
        box-sizing: border-box;
    }
.task-subgroup {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        
        
        max-width: 1400px;
        margin: 0 auto;
        padding: 20px 10px;
    }
.task-subgroup > div {
        flex: 1;
        margin-right: 10px;
        align-items: baseline;
    }

        /* Add the following CSS to increase the size of checkboxes */

input[type="checkbox"] {
    width: 20px; /* Set the width of the checkbox */
    height: 20px; /* Set the height of the checkbox */
}

/* Existing styles... */

.task-list li {
    margin-bottom: 5px;
    display: flex; /* Add this line to make li items flex containers */
}

li label {
    display: flex; /* Add this line to make label a flex container */
    align-items: center; /* Add this line to vertically center items in the label */
}
.list-button-+ {
    display: inline-block;
    margin-left: 10px;
    font-size: 16px;
}

form input[type="text"],
form button {
    display: inline-block;
    vertical-align: middle;
}
