    @media (prefers-reduced-motion: no-preference) {
        * {
            scroll-behavior: smooth;
        }
    }

    :root {
        --cinza: linear-gradient(90deg, rgb(120, 120, 120, 0.2), rgb(120, 120, 120, 0.4), rgb(120, 120, 120, 0.6), rgb(120, 120, 120, 0.8))
    }

    body {
        background: var(--cinza);
        margin: 0;
    }

    body.night-mode {
        background: black;
        color: white;
    }

.task-subgroup {
    display: flex;
    flex-direction: row; /* Change to "column" */
    margin-bottom: 10px;
}

